@model  videogamescr.Models.EMPLEADOS
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_MiLayout.cshtml";
}

<h2>Detalle</h2>


<div>
    <h4>EMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_EMPLEADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_EMPLEADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO_EMPLEADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO_EMPLEADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUESTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Modificar", new { id = Model.ID_EMPLEADO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
